---
layout: default
# TODO: remove those defaults
hasRotaryEncoder: false
isTapDanceEnabled: false
isComboEnabled: false
isAutoShiftEnabled: false
keybindings: []
---

{% from "macros/boolean_to_yes_no.njk" import booleanToYesNo %}
{% from "macros/show_categorical_array.njk" import showCategoricalArray %}

{% if endbandPresent %}
    {% set endbandStatus = "EndbandPresent" %}
{% else %}
    {% set endbandStatus = "EndbandAbsent" %}
{% endif %}

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 mb-3">{{ title }}</h1>
        <h2 class="text-2xl text-center leading-normal text-gray-750 mt-0 mb-3">Artist: {{ author }}</h2>
        {% if databaseImage %}
            <a href="{{ databaseImage | url }}">
            <img
            class="w-full m-0 rounded-t lazy"
            src="{% if databaseImage %}{{ databaseImage | url }}{% elif image %}{{ image | url }}{% else %}{{ '/assets/img/no-image.svg' | url }}{% endif %}"
            width="960"
            height="500"
            alt="{{ imageAlt }}">
            </a>
        {% endif %}
    </header>
    <div id="content" class="prose text-gray-800 max-w-none">
        {% if summary -%}
            {% if summary | isArray %}
                <ul>
                {% for bulletpoint in summary %}
                    <li>{{ bulletpoint | safe }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ summary | safe }}</p>
            {%- endif %}
        {% endif %}



         <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 mb-3">External Features</h1>  
         
         <br>



        <table>
            <th colspan="2" class="text-xl font-bold">Binding</th>
            <tr>
                <td>Document Format</td>
                <td>{{ showCategoricalArray(documentFormat, "N/A") }}</td>
            </tr>
            <tr>
                <td>Binding Type</td>
                <td>{{ showCategoricalArray(bindingType, "N/A") }}</td>
            </tr>
            <tr>
                <td>Letter(s) on thumb</td>
                <td>{{ booleanToYesNo(hasLetterOnThumb) }}</td>
            </tr>
            <th colspan="2" class="text-xl font-bold">Fore-Edges/Textblock Edges</th>
            <tr>
                <td>Binding Relationship to Text Block</td>
                <td>{{ textblockBindingRelationship | title }}</td>
            </tr>
            <tr>
                <td>Rotary Encoder(s)</td>
                <td>{{ booleanToYesNo(hasRotaryEncoder) }}</td>
            </tr>
            
            <tbody>
                <th colspan="2" class="text-xl font-bold">Endband</th>
            <tr>
                <td>Endband Present</td>
                <td>{{ booleanToYesNo(endbandPresent) }}</td>
            </tr>
            </tbody>
            <tbody>
                <th colspan="2" class="text-xl font-bold">Bookmarks/Registers</th>
                <tr>
                    <td>Special Keybinding Schemes</td>
                    <td>{{ showCategoricalArray(keybindings, "None") }}</td>
                </tr>
            </tbody>
        </table>




         <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 mb-3">Internal Features</h1>  

         <br>


        <table>
            <th colspan="2" class="text-xl font-bold">Layout</th>
            <tr>
                <td>Text Technology</td>
                <td>{{ textTechnology }}</td>
            </tr>
            <tr>
                    <td>Combos</td>
                    <td>{{ booleanToYesNo(isComboEnabled) }}</td>
                </tr>
                <tr>
                    <td>Tap Dance</td>
                    <td>{{ booleanToYesNo(isTapDanceEnabled) }}</td>
            </tr>
            <th colspan="2" class="text-xl font-bold">Text and Image</th>
            <tr>
                
                <tr>
                    <td>Home Row Mods</td>
                    <td>{{ booleanToYesNo(hasHomeRowMods) }}</td>
                </tr>
               
                <tr>
                    <td>OS</td>
                    <td>{{ showCategoricalArray(OS, "N/A") }}</td>
                </tr>

            <tbody class="break-words">
                <th colspan="2" class="text-xl font-bold">Links</th>
                <tr>
                    <td>database Folder</td>
                    {% if databaseUrl %}
                        <td><a href="{{ databaseUrl }}">{{ databaseUrl | replace('/', '<wbr>/') | safe }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Write-Up</td>
                    {% if writeup %}
                        <td><a href="{{ writeup }}">{{ writeup | replace('/', '<wbr>/') | safe }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>




    </div>
</article>
